<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top__left">
                <a href="#" class="footer-top__logo">
                    <img loading="lazy" src="img/logo.webp" alt="">
                </a>
                <div class="footer-top__location">
                    <svg aria-hidden="true" width="30" height="30">
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    <span>
                        ул. Монтажников, д. 30/1, оф. 1, Оренбургская область, г. Оренбург, 460048
                    </span>
                </div>
                <div class="footer-top__contacts">
                    <div class="socials">
                        <a href="#" style="color: #21B5E8;">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                        <a href="#" style="color: #95c940;">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#whatsapp"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="footer-top__contacts-info">
                        <a href="tel:+74993909121" class="footer-top__phone">
                            +7 (499) 390-91-21
                        </a>
                        <a href="mailto:order@tetasys.ru" class="footer-top__mail">
                            order@tetasys.ru
                        </a>
                    </div>
                </div>
                <div class="footer-top__mail2">
                    По вопросам сервисного обслуживания
                    <a href="mailto:order@tetasys.ru">order@tetasys.ru</a>
                </div>
            </div>
            <div class="footer-top__right">
                <div class="footer-top__column">
                    <a href="#" class="footer-top__title">Компания</a>
                    <ul>
                        <li>
                            <a href="#">Отзывы и достижения</a>
                        </li>
                        <li>
                            <a href="#">Команда</a>
                        </li>
                        <li>
                            <a href="#">Вакансии</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <a href="#" class="footer-top__title">Решения</a>
                    <ul>
                        <li>
                            <a href="#">Транспортные предприятия</a>
                        </li>
                        <li>
                            <a href="#">Нефтегазовый и нефтехимический сектор</a>
                        </li>
                        <li>
                            <a href="#">Промышленность и другие отрасли</a>
                        </li>
                        <li>
                            <a href="#">Энергетика и генерация</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <a href="#" class="footer-top__title">Производство</a>
                    <ul>
                        <li>
                            <a href="#">О производстве</a>
                        </li>
                        <li>
                            <a href="#">Импортозамещение</a>
                        </li>
                        <li>
                            <a href="#">Сервис</a>
                        </li>
                        <li>
                            <a href="#">Лицензии</a>
                        </li>
                        <li>
                            <a href="#">Охрана труда</a>
                        </li>
                        <li>
                            <a href="#">Обучение</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <a href="#" class="footer-top__title">Продукция</a>
                    <ul>
                        <li>
                            <a href="#">Агрегаты бесперебойного питания</a>
                        </li>
                        <li>
                            <a href="#">Зарядно-выпрямительные устройства</a>
                        </li>
                        <li>
                            <a href="#">Инверторы напряжения</a>
                        </li>
                        <li>
                            <a href="#">Литиевые аккумуляторные батареи</a>
                        </li>
                        <li>
                            <a href="#">
                                Свинцово-кислотные аккумуляторные батареи
                            </a>
                        </li>
                        <li>
                            <a href="#">НИОКР</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-top__mail2 mob">
                По вопросам сервисного обслуживания
                <a href="mailto:order@tetasys.ru">order@tetasys.ru</a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__copy">
                © 2025 Вольтаг — разработка и производство систем бесперебойного питания
            </div>
            <div class="footer-bottom__right">
                <a href="#">Политика конфиденциальности</a>
                <div class="footer-bottom__designed">
                    Разработано
                    <a href="#">
                        <img loading="lazy" src="img/logo.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>