<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="#" class="header__logo">
                <img src="img/logo.webp" alt="">
            </a>
            <div class="header__right">
                <div class="header__contacts">
                    <a href="tel:88002501277" class="phone">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#phone1"></use>
                        </svg>
                        <span>8 800 250 12 77</span>
                    </a>
                    <div class="socials">
                        <a href="#" style="color: #21B5E8;">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                        <a href="#" style="color: #95c940;">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#whatsapp"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <a href="#" class="header__button btn2">
                    <span>Нужна консультация</span>
                </a>
                <div class="menu">
                    <button type="button" class="menu__icon icon-menu"><span></span></button>
                    <nav class="menu__body">
                        <div class="menu__scroll">
                            <div class="menu__content">
                                <div class="menu__column">
                                    <a href="#" class="menu__title">О нас</a>
                                </div>
                                <div class="menu__column">
                                    <a href="#" class="menu__title">Услуги</a>
                                    <ul>
                                        <li>
                                            <a href="#">Разработка электроники</a>
                                        </li>
                                        <li>
                                            <a href="#">Разработка ПО</a>
                                        </li>
                                        <li>
                                            <a href="#">НИОКР и аудит проектов</a>
                                        </li>
                                        <li>
                                            <a href="#">Импортозамещение и локализация</a>
                                        </li>
                                        <li>
                                            <a href="#">Реверс инжиниринг электроники и ПО</a>
                                        </li>
                                        <li>
                                            <a href="#">Разработка и производство устройств</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu__column">
                                    <a href="#" class="menu__title">Решения</a>
                                    <ul>
                                        <li>
                                            <a href="#">Промышленная автоматизация</a>
                                        </li>
                                        <li>
                                            <a href="#">Робототехника</a>
                                        </li>
                                        <li>
                                            <a href="#">Программно-аппаратные комплексы</a>
                                        </li>
                                        <li>
                                            <a href="#">АСУ ТП</a>
                                        </li>
                                        <li>
                                            <a href="#">Облачные решения</a>
                                        </li>
                                        <li>
                                            <a href="#">Умный дом и город</a>
                                        </li>
                                        <li>
                                            <a href="#">Промышленный и потребительский IoT</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu__column">
                                    <a href="#" class="menu__title">Экспертиза</a>
                                    <ul>
                                        <li>
                                            <a href="#">Промышленность</a>
                                        </li>
                                        <li>
                                            <a href="#">Индустрия 4.0</a>
                                        </li>
                                        <li>
                                            <a href="#">Логистика</a>
                                        </li>
                                        <li>
                                            <a href="#">Медицина</a>
                                        </li>
                                        <li>
                                            <a href="#">Образование</a>
                                        </li>
                                        <li>
                                            <a href="#">Государственный сектор</a>
                                        </li>
                                        <li>
                                            <a href="#">Нефтегазовая и добывающая отрасли</a>
                                        </li>
                                        <li>
                                            <a href="#">Сельское хозяйство</a>
                                        </li>
                                        <li>
                                            <a href="#">Телекоммуникации</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu__column">
                                    <a href="#" class="menu__title">Портфолио</a>
                                </div>
                                <div class="menu__column">
                                    <a href="#" class="menu__title">Производство</a>
                                </div>
                                <div class="menu__column">
                                    <a href="#" class="menu__title">Контакты</a>
                                </div>
                            </div>
                            <div class="menu-banner">
                                <div class="menu-banner__top">
                                    <div class="menu-banner__title">
                                        Подкаст «Платы и Байты»
                                    </div>
                                    <p>
                                        Беседы о развитии разработки электроники в России.
                                    </p>
                                    <a href="#" class="btn2"><span>Подробнее</span></a>
                                </div>
                                <img src="img/image1.webp" alt="">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>