<div class="pagination">
    <div class="pagination__left">
        <button type="button" class="btn btn-green"><span>Загрузить еще</span></button>
    </div>
    <div class="pagination__center">
        <div>
            <a class="pagination__item" href="#"><span>1</span></a>
        </div>
        <div>
            <a class="pagination__item pagination__item_active" href="#"><span>2</span></a>
        </div>
        <div>
            <a class="pagination__item" href="#"><span>3</span></a>
        </div>
        <div>
            <a class="pagination__item pagination__item_ellipsis" href="#"><span>...</span></a>
        </div>
        <div>
            <a class="pagination__item" href="#"><span>14</span></a>
        </div>
        <div>
            <a class="pagination__item" href="#"><span>15</span></a>
        </div>
    </div>
    <div class="pagination__right">
        <span class="pagination__item_nav pagination__item_nav-prev">
            <img src="img/icon/arrow1.svg" alt="">
            <div class="pagination__item_nav-text">
                Назад
            </div>
        </span>
        <a class="pagination__item_nav pagination__item_nav-next" href="#">
            <div class="pagination__item_nav-text">
                Вперед
            </div>
            <img src="img/icon/arrow1.svg" alt="">
        </a>
    </div>
</div>