<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="block-benefits block1">
				<div class="container">
					<h2 class="title1">Комплексные решения в области силовой электроники и встраиваемых систем</h2>
					<div class="block-benefits__content">
						<div class="block-benefits__top">
							<div class="block-benefits__slider swiper">
								<div class="block-benefits__wrapper swiper-wrapper">
									<div class="block-benefits__slide swiper-slide">
										<video autoplay muted loop playsinline preload loading="lazy"
											src="./files/videos/video.mp4">
											<source loading="lazy" src="./files/videos/video.mp4" type="video/mp4">
										</video>
									</div>
									<div class="block-benefits__slide swiper-slide">
										<img loading="lazy" src="img/image1.webp" alt="">
									</div>
									<div class="block-benefits__slide swiper-slide">
										<img loading="lazy" src="img/image1.webp" alt="">
									</div>
								</div>
							</div>
							<div class="block-benefits__arrow-prev arrow-prev">
								<svg aria-hidden="true" width="14" height="14">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
							<div class="block-benefits__arrow-next arrow-next">
								<svg aria-hidden="true" width="14" height="14">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-catalog block1">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">Каталог оборудования</h2>
						<p>
							Описание
						</p>
					</div>
					<div class="block-catalog__body">
						<a href="#" class="block-catalog__column">
							<div class="block-catalog__icon">
								<img loading="lazy" src="img/icon1.svg" alt="">
							</div>
							<div class="block-catalog__title">Строительство зданий</div>
							<p>
								Наши услуги после строительства дают вам душевное спокойствие, зная, что мы…
							</p>
							<div class="block-catalog__link">
								<span>Посмотреть детали</span>
								<svg aria-hidden="true" width="24" height="14">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
						</a>
						<a href="#" class="block-catalog__column">
							<div class="block-catalog__icon">
								<img loading="lazy" src="img/icon2.svg" alt="">
							</div>
							<div class="block-catalog__title">Строительство зданий</div>
							<p>
								Наши услуги после строительства дают вам душевное спокойствие, зная, что мы…
							</p>
							<div class="block-catalog__link">
								<span>Посмотреть детали</span>
								<svg aria-hidden="true" width="24" height="14">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
						</a>
						<a href="#" class="block-catalog__column">
							<div class="block-catalog__icon">
								<img loading="lazy" src="img/icon3.svg" alt="">
							</div>
							<div class="block-catalog__title">Строительство зданий</div>
							<p>
								Наши услуги после строительства дают вам душевное спокойствие, зная, что мы…
							</p>
							<div class="block-catalog__link">
								<span>Посмотреть детали</span>
								<svg aria-hidden="true" width="24" height="14">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
						</a>
						<a href="#" class="block-catalog__column">
							<div class="block-catalog__icon">
								<img loading="lazy" src="img/icon4.svg" alt="">
							</div>
							<div class="block-catalog__title">Строительство зданий</div>
							<p>
								Наши услуги после строительства дают вам душевное спокойствие, зная, что мы…
							</p>
							<div class="block-catalog__link">
								<span>Посмотреть детали</span>
								<svg aria-hidden="true" width="24" height="14">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
						</a>
						<a href="#" class="block-catalog__column">
							<div class="block-catalog__icon">
								<img loading="lazy" src="img/icon5.svg" alt="">
							</div>
							<div class="block-catalog__title">Строительство зданий</div>
							<p>
								Наши услуги после строительства дают вам душевное спокойствие, зная, что мы…
							</p>
							<div class="block-catalog__link">
								<span>Посмотреть детали</span>
								<svg aria-hidden="true" width="24" height="14">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
						</a>
						<a href="#" class="block-catalog__column">
							<div class="block-catalog__icon">
								<img loading="lazy" src="img/icon6.svg" alt="">
							</div>
							<div class="block-catalog__title">Строительство зданий</div>
							<p>
								Наши услуги после строительства дают вам душевное спокойствие, зная, что мы…
							</p>
							<div class="block-catalog__link">
								<span>Посмотреть детали</span>
								<svg aria-hidden="true" width="24" height="14">
									<use xlink:href="img/sprite.svg#arrow2"></use>
								</svg>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="block-categories block1">
				<div class="container">
					<h2 class="title2">Категории</h2>
					<div class="block-categories__body">
						<a href="#" class="block-categories__column">
							<img loading="lazy" src="img/image1.webp" alt="">
							<div class="block-categories__item">
								<div class="block-categories__title">
									Поставка Ni-Cd аккумуляторов
									<span>
										Надежные источники питания для ответственных применений.
										Гарантия качества и долгий срок службы.
									</span>
								</div>
								<div class="block-categories__number">1</div>
							</div>
						</a>
						<a href="#" class="block-categories__column">
							<img loading="lazy" src="img/image1.webp" alt="">
							<div class="block-categories__item">
								<div class="block-categories__title">
									Разработка схем и ПП:
									<span>
										Полный цикл проектирования: от принципиальной схемы до готовых файлов для
										производства печатных плат.
									</span>
								</div>
								<div class="block-categories__number">2</div>
							</div>
						</a>
						<a href="#" class="block-categories__column">
							<img loading="lazy" src="img/image1.webp" alt="">
							<div class="block-categories__item">
								<div class="block-categories__title">
									Программирование микроконтроллеров:
									<span>
										Создание эффективного ПО для STM32, TMS320, MilandR и других архитектур.
									</span>
								</div>
								<div class="block-categories__number">3</div>
							</div>
						</a>
						<a href="#" class="block-categories__column">
							<img loading="lazy" src="img/image1.webp" alt="">
							<div class="block-categories__item">
								<div class="block-categories__title">
									Разработка трансформаторов:
									<span>
										Расчет, проектирование и производство импульсных и сетевых трансформаторов по
										вашим
										требованиям.
									</span>
								</div>
								<div class="block-categories__number">4</div>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="block-about block1">
				<div class="container">
					<div class="block-about__content">
						<div class="image-block-about">
							<div class="image-block-about__text">
								<div class="image-block-about__number">
									15<span>+</span>
								</div>
								<div class="image-block-about__title">
									ЛЕТ ОПЫТА РАБОТЫ В СТРОИТЕЛЬСТВЕ
								</div>
							</div>
							<img loading="lazy" src="img/image2.webp" alt="">
						</div>
						<div class="block-about__body">
							<h2 class="title2">
								ООО "ТЕТА-Системы": Краткая информация о компании
							</h2>
							<p>
								Мы — инжиниринговая компания полного цикла, специализирующаяся на разработке,
								проектировании и поставке ключевых компонентов для современной электроники. От
								программного обеспечения до готовых силовых модулей — мы предлагаем надежные и
								технологичные решения для ваших самых сложных задач.
							</p>
							<div class="block-about__center">
								<ul>
									<li>
										<div class="block-about__icon">
											<img loading="lazy" src="img/icon2.svg" alt="">
										</div>
										<div class="block-about__titles">
											<div class="block-about__title">Современные технологии</div>
											<div class="block-about__subtitle">
												Использование передовых технологий для повышения эффективности, точности
												и
												устойчивости каждого проекта.
											</div>
										</div>
									</li>
									<li>
										<div class="block-about__icon">
											<img loading="lazy" src="img/icon1.svg" alt="">
										</div>
										<div class="block-about__titles">
											<div class="block-about__title">Опытные инженеры</div>
											<div class="block-about__subtitle">
												Команда опытных профессионалов, стремящихся к достижению совершенства
												благодаря опыту и инновациям.
											</div>
										</div>
									</li>
								</ul>
								<a href="files/videos/video.mp4" data-fancybox="video1" class="block-about__video">
									<img loading="lazy" src="img/image1.webp" alt="">
									<div class="play">
										<svg aria-hidden="true" width="14" height="14">
											<use xlink:href="img/sprite.svg#play"></use>
										</svg>
									</div>
								</a>
							</div>
							<div class="block-about__bottom">
								<a href="#" class="btn">
									<span>Узнайте больше</span>
									<div class="btn__icon">
										<svg aria-hidden="true" width="12" height="10">
											<use xlink:href="img/sprite.svg#arrow2"></use>
										</svg>
									</div>
								</a>
								<div class="phone-block-about">
									<div class="phone-block-about__icon">
										<img loading="lazy" src="img/call.svg" alt="">
									</div>
									<div class="phone-block-about__titles">
										<div class="phone-block-about__title">Есть вопросы? Позвоните нам:</div>
										<a href="tel:(02) 345 3432">(02) 345 3432</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-filters class="block-brands block1">
				<div class="container">
					<div class="block-brands__content">
						<h2 class="title2">Компании, которые успешно используют наше оборудование</h2>
						<div class="block-brands-filter__slider swiper">
							<div class="block-brands-filter__wrapper swiper-wrapper">
								<button type="button" data-filter="brands1"
									class="block-brands-filter__slide swiper-slide filter-title active">
									Международная
									консультация</button>
								<button type="button" data-filter="brands2"
									class="block-brands-filter__slide swiper-slide filter-title">
									Международная
									консультация</button>
								<button type="button" data-filter="brands3"
									class="block-brands-filter__slide swiper-slide filter-title">
									Международная
									консультация</button>
								<button type="button" data-filter="brands4"
									class="block-brands-filter__slide swiper-slide filter-title">
									Международная
									консультация</button>
								<button type="button" data-filter="brands5"
									class="block-brands-filter__slide swiper-slide filter-title">
									Международная
									консультация</button>
							</div>
						</div>
						<div data-filter="brands1" class="block-brands__slider swiper active">
							<div class="block-brands__wrapper swiper-wrapper">
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
							</div>
						</div>
						<div data-filter="brands2" class="block-brands__slider swiper">
							<div class="block-brands__wrapper swiper-wrapper">
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
							</div>
						</div>
						<div data-filter="brands3" class="block-brands__slider swiper">
							<div class="block-brands__wrapper swiper-wrapper">
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
							</div>
						</div>
						<div data-filter="brands4" class="block-brands__slider swiper">
							<div class="block-brands__wrapper swiper-wrapper">
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
							</div>
						</div>
						<div data-filter="brands5" class="block-brands__slider swiper">
							<div class="block-brands__wrapper swiper-wrapper">
								<div class="block-brands__slide swiper-slide">
									<div class="block-brands__info">
										<img loading="lazy" src="img/info.svg" alt="">
										<span>Мероприятие: Актуально</span>
									</div>
									<div class="block-brands__image">
										<img loading="lazy" src="img/brands1.webp" alt="">
										<div class="block-brands__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>18.09.2025</span>
										</div>
									</div>
									<div class="block-brands__title">
										Название компании
										<span>Страна</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-section block1">
				<div class="container">
					<div class="block-section__heading">
						<h2 class="title2">
							Заказчики
							<span>о нашей работе:</span>
						</h2>
						<div class="arrows">
							<div class="block-section__arrow-prev arrow-prev">
								<svg aria-hidden="true" width="14" height="14">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
							<div class="block-section__arrow-next arrow-next">
								<svg aria-hidden="true" width="14" height="14">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="block-section__slider swiper">
						<div class="block-section__wrapper swiper-wrapper">
							<a href="img/image3.webp" data-fancybox="gallery1"
								class="block-section__slide swiper-slide">
								<img src="img/image3.webp" alt="">
							</a>
							<a href="img/image3.webp" data-fancybox="gallery1"
								class="block-section__slide swiper-slide">
								<img src="img/image3.webp" alt="">
							</a>
							<a href="img/image3.webp" data-fancybox="gallery1"
								class="block-section__slide swiper-slide">
								<img src="img/image3.webp" alt="">
							</a>
							<a href="img/image3.webp" data-fancybox="gallery1"
								class="block-section__slide swiper-slide">
								<img src="img/image3.webp" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="block-section block1 block-certificates">
				<div class="container">
					<div class="block-section__heading">
						<h2 class="title2">
							Сертификаты
						</h2>
						<div class="arrows">
							<div class="block-section__arrow-prev arrow-prev">
								<svg aria-hidden="true" width="14" height="14">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
							<div class="block-section__arrow-next arrow-next">
								<svg aria-hidden="true" width="14" height="14">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="block-section__slider swiper">
						<div class="block-section__wrapper swiper-wrapper">
							<a href="img/image4.webp" data-fancybox="gallery2"
								class="block-section__slide swiper-slide">
								<div class="block-section__title">Свидетельство на товарный знак </div>
								<img src="img/image4.webp" alt="">
							</a>
							<a href="img/image4.webp" data-fancybox="gallery2"
								class="block-section__slide swiper-slide">
								<div class="block-section__title">Свидетельство на товарный знак </div>
								<img src="img/image4.webp" alt="">
							</a>
							<a href="img/image4.webp" data-fancybox="gallery2"
								class="block-section__slide swiper-slide">
								<div class="block-section__title">Свидетельство на товарный знак </div>
								<img src="img/image4.webp" alt="">
							</a>
							<a href="img/image4.webp" data-fancybox="gallery2"
								class="block-section__slide swiper-slide">
								<div class="block-section__title">Свидетельство на товарный знак </div>
								<img src="img/image4.webp" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div data-filters class="block-news block1">
				<div class="container">
					<div class="block-news-top">
						<div class="block-news-top__left">
							<h2 class="title2">Новости и проекты</h2>
							<p>
								Описание
							</p>
						</div>
						<div class="block-news-top__filter">
							<button data-filter="all" type="button"
								class="block-news-top__title filter-title active">Все</button>
							<button data-filter="news" type="button"
								class="block-news-top__title filter-title">Новости</button>
							<button data-filter="project" type="button"
								class="block-news-top__title filter-title">Проекты</button>
						</div>
					</div>
					<div class="block-news-bottom">
						<div class="block-news-bottom__slider swiper">
							<div class="block-news-bottom__wrapper swiper-wrapper">
								<a href="#" data-filter="news"
									class="block-news-bottom__slide swiper-slide filter-block">
									<div class="block-news-bottom__image">
										<img loading="lazy" src="img/news1.webp" alt="" class="block-news-bottom__pic1">
										<div class="block-news-bottom__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>22 июля, 2025</span>
										</div>
									</div>
									<div class="block-news-bottom__item">
										<div class="block-news-bottom__title">
											ООО «ТЕТА-Системы» осуществило поставку никель-кадмиевой аккумуляторной
											батареи GN400-3 (международное название KPL400)
										</div>
										<div class="btn2"><span>Читать</span></div>
									</div>
								</a>
								<a href="#" data-filter="project"
									class="block-news-bottom__slide swiper-slide filter-block">
									<div class="block-news-bottom__image">
										<img loading="lazy" src="img/news2.webp" alt="" class="block-news-bottom__pic1">
										<div class="block-news-bottom__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>10 января, 2025</span>
										</div>
									</div>
									<div class="block-news-bottom__item">
										<div class="block-news-bottom__title">
											Единая информационная система в сфере закупок
										</div>
										<p>
											Юридическое лицо «ООО «ТЕТА-СИСТЕМЫ»» (ИНН 5609206381, КПП 560901001, ОГРН
											1245600009071) и представитель юридического лица «Кочедыков Владислав
											Юрьевич» зарегистрированы в Единой информационной системе в сфере закупок.
											Юридическому лицу присвоены:— уникал...
										</p>
										<div class="btn2"><span>Читать</span></div>
									</div>
								</a>
								<a href="#" data-filter="news"
									class="block-news-bottom__slide swiper-slide filter-block">
									<div class="block-news-bottom__image">
										<img loading="lazy" src="img/news3.webp" alt="" class="block-news-bottom__pic1">
										<div class="block-news-bottom__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>22 июля, 2025</span>
										</div>
									</div>
									<div class="block-news-bottom__item">
										<div class="block-news-bottom__title">
											8 800 250 12 77 — новый телефонный номер компании
										</div>
										<p>
											Изменен основной номер для связи с компанией — 8 800 250 12 77. Номер
											многоканальный и работает с 10:00 до 21:00 ежедневно без выходных.
										</p>
										<div class="btn2"><span>Читать</span></div>
									</div>
								</a>
								<a href="#" data-filter="project"
									class="block-news-bottom__slide swiper-slide filter-block">
									<div class="block-news-bottom__image">
										<img loading="lazy" src="img/news2.webp" alt="" class="block-news-bottom__pic1">
										<div class="block-news-bottom__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>10 января, 2025</span>
										</div>
									</div>
									<div class="block-news-bottom__item">
										<div class="block-news-bottom__title">
											Единая информационная система в сфере закупок
										</div>
										<p>
											Юридическое лицо «ООО «ТЕТА-СИСТЕМЫ»» (ИНН 5609206381, КПП 560901001, ОГРН
											1245600009071) и представитель юридического лица «Кочедыков Владислав
											Юрьевич» зарегистрированы в Единой информационной системе в сфере закупок.
											Юридическому лицу присвоены:— уникал...
										</p>
										<div class="btn2"><span>Читать</span></div>
									</div>
								</a>
								<a href="#" data-filter="news"
									class="block-news-bottom__slide swiper-slide filter-block">
									<div class="block-news-bottom__image">
										<img loading="lazy" src="img/news3.webp" alt="" class="block-news-bottom__pic1">
										<div class="block-news-bottom__data">
											<svg aria-hidden="true" width="14" height="14">
												<use xlink:href="img/sprite.svg#calendar"></use>
											</svg>
											<span>22 июля, 2025</span>
										</div>
									</div>
									<div class="block-news-bottom__item">
										<div class="block-news-bottom__title">
											8 800 250 12 77 — новый телефонный номер компании
										</div>
										<p>
											Изменен основной номер для связи с компанией — 8 800 250 12 77. Номер
											многоканальный и работает с 10:00 до 21:00 ежедневно без выходных.
										</p>
										<div class="btn2"><span>Читать</span></div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-forms block1">
				<div class="container">
					<div class="block-forms__content">
						<div class="block-forms__left">
							<h2 class="title2">
								<span>Заявка</span> на проект
							</h2>
							<p>
								Оставьте контактные данные, и мы свяжемся с вами в ближайшее время
							</p>
							<div class="block-forms__socials">
								<a href="#">
									<span>написать в whatsapp</span>
									<svg aria-hidden="true" width="20" height="20">
										<use xlink:href="img/sprite.svg#whatsapp"></use>
									</svg>
								</a>
								<a href="#">
									<span>написать в Телеграм</span>
									<svg aria-hidden="true" width="20" height="20">
										<use xlink:href="img/sprite.svg#telegram"></use>
									</svg>
								</a>
							</div>
						</div>
						<div class="block-forms__right">
							<form action="#">
								<div class="form">
									<div class="form__inputs">
										<div class="form__input">
											<input data-required autocomplete="off" type="text" name="form[]"
												data-error="Обязательное поле" placeholder="Ваше имя" class="input">
										</div>
										<div class="form__input">
											<input data-required autocomplete="off" type="text" name="form[]"
												data-error="Обязательное поле" placeholder="+7 (ХХХ) ХХХ-ХХ-ХХ"
												class="input tel">
										</div>
										<div class="form__input">
											<input data-required autocomplete="off" type="text" name="form[]"
												data-error="Обязательное поле" placeholder="Ваша компания"
												class="input">
										</div>
										<div class="form__input">
											<textarea data-required placeholder="Ваш комментарий или вопрос"
												class="input textarea"></textarea>
										</div>
									</div>
									<div class="checkbox">
										<input id="c_1" data-required data-error="Обязательно поле "
											class="checkbox__input" type="checkbox" value="1" name="form[]">
										<label for="c_1" class="checkbox__label">
											<span class="checkbox__icon">
												<img loading="lazy" src="img/mark1.svg" alt="">
											</span>
											<span class="checkbox__text">
												Нажимая на кнопку «Отправить», вы даете согласие на обработку
												персональных
												данных и соглашаетесь с
												<a href="#" target="_blank">Политикой
													конфиденциальности</a>
											</span>
										</label>
									</div>
									<button type="submit" class="btn2">
										<span>Отправить</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="chat-widget">
				<div class="chat-widget__body">
					<div class="chat-widget__chats">
						<a href="#" class="chat-widget__chat-bot">
							<span>Whatsapp</span>
							<div style="background-color: #95c940;" class="chat-widget__icon">
								<svg aria-hidden="true" width="24" height="24">
									<use xlink:href="img/sprite.svg#whatsapp"></use>
								</svg>
							</div>
						</a>
						<a href="#" class="chat-widget__chat-bot">
							<span>Телеграм</span>
							<div style="background-color: #00a6ff;" class="chat-widget__icon">
								<svg aria-hidden="true" width="24" height="24">
									<use xlink:href="img/sprite.svg#telegram"></use>
								</svg>
							</div>
						</a>
						<a href="#" class="chat-widget__chat-bot">
							<span>Телефон</span>
							<div style="background-color: #2d3748;" class="chat-widget__icon">
								<svg aria-hidden="true" width="24" height="24">
									<use xlink:href="img/sprite.svg#phone1"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="chat-widget__images">
						<img src="img/chat.svg" alt="" class="chat-widget__pic1">
						<img src="img/close.svg" alt="" class="chat-widget__pic2">
					</div>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/scripts.njk' %}
</body>

</html>