.block-benefits {
  // .block-benefits__content

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .block-benefits__top

  &__top {
    position: relative;
  }

  // .block-benefits__slider

  &__slider {
  }

  // .block-benefits__wrapper

  &__wrapper {
  }

  // .block-benefits__slide

  &__slide {
    border-radius: 15px;
    overflow: hidden;
    height: 510px;
    display: flex;
    @media (max-width: 992px) {
      height: 340px;
    }
    @media (max-width: 768px) {
      height: 51vw;
      max-height: 300px;
    }
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .block-benefits__arrow-prev

  &__arrow-prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 20;
  }

  // .block-benefits__arrow-next

  &__arrow-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 20;
  }
}

.block-categories {
  // .block-categories__body

  &__body {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 992px) {
      display: flex;
      flex-wrap: nowrap;
      margin: 0px -10px;
      padding: 0px 10px;
      width: calc(100% + 20px);
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @media (max-width: 768px) {
      gap: 10px;
    }
  }

  // .block-categories__column

  &__column {
    overflow: hidden;
    position: relative;
    min-height: 320px;
    border-radius: 15px;
    @media (max-width: 992px) {
      flex: 0 0 60vw;
    }
    @media (max-width: 768px) {
      flex: 0 0 80vw;
      min-height: 280px;
    }
    &:hover {
      img {
        filter: grayscale(0);
        transform: scale(1.05);
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1);
      transition:
        filter 0.7s,
        transform 0.7s;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background: linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    }
    &:nth-child(even) {
      .block-categories__title {
        text-align: right;
        @media (max-width: 992px) {
          text-align: left;
        }
      }
    }
  }

  // .block-categories__item

  &__item {
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .block-categories__title

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 135%;
    color: var(--color-gray-light);
    font-weight: 700;
    margin: 30px;
    @media (max-width: 768px) {
      font-size: 20px;
      margin: 15px 15px 30px 15px;
    }
    @media (max-width: 480px) {
      font-size: 18px;
    }
    span {
      font-weight: 400;
      font-size: 20px;
      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  // .block-categories__number

  &__number {
    font-size: 14px;
    color: var(--color-gray-light);
    margin: 0 30px 30px;
    @media (max-width: 768px) {
      margin: 0px 15px 15px 15px;
    }
  }
}

.block-catalog {
  // .block-catalog__body

  &__body {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 992px) {
      display: flex;
      flex-wrap: nowrap;
      width: calc(100% + 20px);
      margin: 0px -10px;
      padding: 0px 10px;
      overflow: auto;
      gap: 16px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // .block-catalog__column

  &__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray-light);
    padding: 40px 50px;
    border-radius: 15px;
    @media (max-width: 992px) {
      flex: 0 0 400px;
    }
    @media (max-width: 768px) {
      flex: 0 0 350px;
    }
    @media (max-width: 550px) {
      padding: 30px 20px;
    }
    @media (max-width: 480px) {
      flex: 0 0 300px;
    }
    &:hover {
      border: 1px solid var(--color-gray-dark);
      .block-catalog__icon {
        background-color: var(--color-gray-dark);
        img {
          filter: invert(1) brightness(1000%);
        }
      }
      .block-catalog__title {
        &::after {
          content: "";
          background-color: var(--color-gray-dark);
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  // .block-catalog__icon

  &__icon {
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.3s;
    img {
      width: 42px;
      height: 42px;
    }
  }

  // .block-catalog__title

  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    position: relative;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px -10px 0px;
    &::after {
      content: "";
      position: absolute;
      width: 60px;
      background-color: #fff;
      height: 1px;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      transition: background-color 0.3s;
    }
  }

  // .block-catalog__link

  &__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 12px;
    svg {
      fill: var(--color-gray-dark);
    }
  }
}

.block-benefits2 {
  .container {
    @media (max-width: 1460px) {
      padding: 0px 0px 0px 0px;
    }
  }
  .btn {
    position: relative;
    z-index: 10;
    flex: 0 0 auto;
    @media (max-width: 992px) {
      display: none;
    }
    &.btn-mob {
      display: none;
      @media (max-width: 992px) {
        display: flex;
      }
    }
  }
  // .block-benefits2__heading

  &__heading {
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    padding: 0px 30px;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      padding: 0px 10px;
    }
    @media (max-width: 768px) {
      gap: 15px;
    }
    .title2 {
      margin: 0px 0px 0px 0px;
    }
  }

  // .block-benefits2__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 0px;
    border-radius: 15px;
    background-color: var(--color-gray-light);
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(203.37deg, rgba(31, 155, 222, 0) 15.09%, var(--color-blue-light) 94.47%);
    }
    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  // .block-benefits2__slider

  &__slider {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 0px 30px;
    @media (max-width: 992px) {
      padding: 0px 10px;
    }
    &.swiper {
      overflow-y: visible;
    }
  }

  // .block-benefits2__wrapper

  &__wrapper {
  }

  // .block-benefits2__slide

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-gray-light);
    border: 1px solid var(--color-gray-light);
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.3s;
    height: auto;
    @media (max-width: 550px) {
      padding: 30px 20px;
    }
    &:hover {
      transform: translatey(-10px);
      border: 1px solid var(--color-gray-dark);
      .block-benefits2__icon {
        background-color: var(--color-gray-dark);
        img {
          filter: invert(1) brightness(1000%);
        }
      }
      .block-benefits2__title {
        &::after {
          content: "";
          background-color: var(--color-gray-dark);
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      flex: 1 1 auto;
    }
  }

  // .block-benefits2__icons

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  // .block-benefits2__icon

  &__icon {
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.3s;
    img {
      width: 42px;
      height: 42px;
    }
  }

  // .block-benefits2__number

  &__number {
    font-size: 16px;
    font-weight: 500;
  }

  // .block-benefits2__title

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    position: relative;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px -10px 0px;
    &::after {
      content: "";
      position: absolute;
      width: 60px;
      background-color: #fff;
      height: 1px;
      left: 0;
      bottom: 0;
      transition: background-color 0.3s;
    }
  }

  // .block-benefits2__link

  &__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 12px;
    transition: color 0.3s;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover {
      color: var(--color-blue-dark);
      .icon {
        border: 1px solid var(--color-blue-dark);
        &::before,
        &:after {
          content: "";
          background-color: var(--color-blue-dark);
        }
      }
    }
    .icon {
      transition: border 0.3s;
      position: relative;
      width: 32px;
      height: 32px;
      flex: 0 0 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--color-gray-dark);
      border-radius: 50%;
      margin: -2px 0px 0px 0px;
      &::before,
      &:after {
        content: "";
        transition: background-color 0.3s;
        position: absolute;
        background-color: var(--color-gray-dark);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::before {
        content: "";
        height: 12px;
        width: 1px;
      }
      &::after {
        content: "";
        width: 12px;
        height: 1px;
      }
    }
  }
}

.block-about {
  // .block-about__content

  &__content {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: start;
    }
    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  // .block-about__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 0 1 852px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
    }
    @media (max-width: 768px) {
      gap: 20px;
    }
    .title2 {
      margin: 0px 0px 0px 0px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      @media (max-width: 992px) {
        text-align: center;
      }
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  // .block-about__center

  &__center {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: start;
    }
    @media (max-width: 600px) {
      margin: 0px 0px 0px 0px;
    }
    ul {
      flex: 0 1 60%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (max-width: 1200px) {
        flex: 1 1 auto;
      }
      @media (max-width: 768px) {
        gap: 20px;
      }
      li {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }
  }

  // .block-about__icon

  &__icon {
    flex: 0 0 62px;
    @media (max-width: 600px) {
      flex: 0 0 50px;
    }
    img {
      width: 62px;
      height: 62px;
      @media (max-width: 600px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  // .block-about__titles

  &__titles {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  // .block-about__title

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  // .block-about__subtitle

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  // .block-about__video

  &__video {
    flex: 0 0 30%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  // .block-about__bottom

  &__bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
.phone-block-about {
  padding: 0px 0px 0px 30px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: 600px) {
    padding: 20px 0px 0px 0px;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 1px;
    top: 20px;
    height: calc(100% - 40px);
    background: var(--color-gray-light);
    @media (max-width: 600px) {
      height: 1px;
      width: 60px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0px);
    }
  }
  // .phone-block-about__icon

  &__icon {
    flex: 0 0 56px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-gray-light);
    img {
      width: 26px;
      height: 26px;
    }
    @media (max-width: 600px) {
      width: 45px;
      height: 45px;
      flex: 0 0 45px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  // .phone-block-about__titles

  &__titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: 600px) {
      gap: 5px;
    }
    a {
      color: var(--color-blue-dark);
      font-size: 24px;
      font-weight: 500;
      transition: color 0.3s;
      &:hover {
        color: var(--color-gray-dark);
      }
      @media (max-width: 600px) {
        font-size: 20px;
      }
    }
  }

  // .phone-block-about__title

  &__title {
    font-size: 14px;
    font-weight: 400;
  }
}
.image-block-about {
  flex: 0 1 533px;
  min-width: 437px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  @media (max-width: 992px) {
    flex: 1 1 auto;
    height: 600px;
    min-width: 100%;
  }
  @media (max-width: 600px) {
    height: 500px;
    width: 100%;
  }
  @media (max-width: 480px) {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // .image-block-about__text

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 189px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 25px 10px;
    @media (max-width: 450px) {
      width: 50%;
      padding: 10px;
      gap: 5px;
    }
  }

  // .image-block-about__number

  &__number {
    display: flex;
    align-items: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.28px;
    gap: 5px;
    color: var(--color-blue-dark);
    span {
      font-size: 34px;
      font-weight: 400;
      letter-spacing: -0.98px;
      @media (max-width: 480px) {
        font-size: 28px;
      }
    }
    @media (max-width: 480px) {
      font-size: 55px;
    }
  }

  // .image-block-about__title

  &__title {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.14px;
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}

.block-brands {
  .container {
    @media (max-width: 1460px) {
      padding: 0px 0px 0px 0px;
    }
  }
  .title2 {
    position: relative;
    z-index: 10;
    padding: 0px 30px;
    @media (max-width: 992px) {
      padding: 0px 10px;
    }
  }
  // .block-brands__content

  &__content {
    padding: 50px 0px;
    border-radius: 15px;
    background-color: var(--color-gray-light);
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(203.37deg, rgba(31, 155, 222, 0) 15.09%, var(--color-blue-light) 94.47%);
    }
    @media (max-width: 768px) {
      padding: 30px 0px;
    }
  }

  // .block-brands__slider

  &__slider {
    padding: 0px 30px;
    @media (max-width: 992px) {
      padding: 0px 10px;
    }
  }

  // .block-brands__wrapper

  &__wrapper {
  }

  // .block-brands__slide

  &__slide {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--color-gray-dark);
    border-radius: 15px;
    padding: 30px;
    color: #fff;
    @media (max-width: 1200px) {
      flex: 0 0 calc(33.3333% - 10px);
    }
    @media (max-width: 992px) {
      flex: 0 0 calc(50% - 10px);
    }
    @media (max-width: 600px) {
      padding: 20px;
      flex: 0 0 300px;
    }
    @media (max-width: 480px) {
      flex: 0 0 250px;
    }
  }

  // .block-brands__info

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 0px 15px 0px;
    font-size: 16px;
    font-weight: 500;
    img {
      width: 24px;
      height: 24px;
    }
    @media (max-width: 550px) {
      font-size: 14px;
      img {
        width: 20px;
        height: 20px;
        margin: 0px 0px 2px 0px;
      }
    }
  }

  // .block-brands__data

  &__data {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    gap: 5px;
    svg {
      fill: currentColor;
    }
    @media (max-width: 550px) {
      font-size: 12px;
    }
  }

  // .block-brands__image

  &__image {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    img {
      max-width: 50%;
      height: 80px;
      object-fit: cover;
      border-radius: 15px;
    }
    @media (max-width: 600px) {
      margin-bottom: 15px;
      gap: 10px;
    }
  }

  // .block-brands__title

  &__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    font-size: 18px;
    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.block-brands-filter {
  // .block-brands-filter__slider

  &__slider {
    margin: 0px 0px 50px 0px;
    @media (max-width: 768px) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .block-brands-filter__wrapper

  &__wrapper {
    gap: 10px;
  }

  // .block-brands-filter__slide

  &__slide {
    flex: 0 0 auto;
    width: auto;
  }
}

.block-section {
  // .block-section__heading

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0px 0px 40px 0px;
    @media (max-width: 992px) {
      justify-content: center;
    }
    @media (max-width: 768px) {
      margin: 0px 0px 20px 0px;
    }
    .title2 {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 0px;
      span {
        color: var(--color-blue-light2);
      }
    }
    .arrows {
      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  // .block-section__arrow-prev

  &__arrow-prev {
  }

  // .block-section__arrow-next

  &__arrow-next {
  }

  // .block-section__slider

  &__slider {
    @media (max-width: 1460px) {
      margin: 0px -10px;
      padding: 0px 10px;
      width: calc(100% + 20px);
    }
  }

  // .block-section__wrapper

  &__wrapper {
  }

  // .block-section__slide

  &__slide {
    display: flex;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--color-gray-light);
    img {
      width: 100%;
      height: auto;
      cursor: zoom-in;
    }
  }

  // .block-section__title

  &__title {
    position: relative;
    z-index: 10;
    font-size: 18px;
    min-height: 112px;
    font-weight: 400;
    @media (max-width: 768px) {
      min-height: 80px;
    }
  }
}
.block-certificates {
  .block-section__slide {
    padding: 25px;
    flex-direction: column;
    position: relative;
    &:hover {
      &::before {
        content: "";
        opacity: 1;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 15px;
      background: linear-gradient(203.37deg, rgba(31, 155, 222, 0) 15.09%, var(--color-blue-light) 94.47%);
      opacity: 0;
      transition: opacity 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 23px;
      background: linear-gradient(270deg, #435b64 0%, rgba(67, 91, 100, 0) 100%);
      opacity: 0.12;
    }
    img {
      height: auto;
      width: 100%;
      margin: 0 -80% -60% 100px;
      border-radius: 4px 0 0 0;
      filter: drop-shadow(-2px 3px 4px rgba(0, 0, 0, 0.1));
      overflow: hidden;
      @media (max-width: 768px) {
        margin: 0 -50% -50% 50px;
      }
    }
  }
}

.block-news-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  margin: 0px 0px 40px 0px;
  @media (max-width: 992px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 768px) {
    margin: 0px 0px 30px 0px;
    gap: 20px;
  }
  // .block-news-top__left

  &__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 60%;
    @media (max-width: 992px) {
      flex: 1 1 auto;
    }
    .title2 {
      margin: 0px 0px 0px 0px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
      @media (max-width: 992px) {
        text-align: center;
      }
    }
  }

  // .block-news-top__filter

  &__filter {
    flex: 0 1 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
      justify-content: center;
    }
    @media (max-width: 500px) {
      gap: 5px;
    }
  }

  // .block-news-top__title

  &__title {
  }
}
.block-news-bottom {
  // .block-news-bottom__slider

  &__slider {
    @media (max-width: 1460px) {
      margin: 0px -10px;
      padding: 0px 10px;
      width: calc(100% + 20px);
    }
  }

  // .block-news-bottom__wrapper

  &__wrapper {
  }

  // .block-news-bottom__slide

  &__slide {
    background-color: var(--color-gray-light);
    border-radius: 15px;
    border-bottom: 4px solid var(--color-blue-dark);
    &:hover {
      img {
        filter: grayscale(0);
      }
      .btn2 {
        &::before {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  // .block-news-bottom__image

  &__image {
    display: flex;
    height: 240px;
    position: relative;
    @media (max-width: 480px) {
      height: 200px;
    }
  }

  // .block-news-bottom__pic1

  &__pic1 {
    transition: filter 0.3s;
    filter: grayscale(1);
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  // .block-news-bottom__data

  &__data {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 5px 8px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      fill: currentColor;
    }
    span {
      display: block;
      margin: 2px 0px -2px 0px;
    }
  }

  // .block-news-bottom__item

  &__item {
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    @media (max-width: 480px) {
      padding: 10px 0px 0px 10px;
      gap: 10px;
    }
    p {
      padding: 0px 10px 0px 0px;
      width: 100%;
      font-size: 18px;
      line-height: 130%;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
    .btn2 {
      border-radius: 15px 15px 12px 0px;
    }
  }

  // .block-news-bottom__title

  &__title {
    width: 100%;
    padding: 0px 10px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.block-forms {
  .title2 {
    margin: 0px 0px 0px 0px;
    span {
      color: var(--color-blue-dark);
    }
  }
  .container {
    @media (max-width: 1460px) {
      padding: 0px 0px 0px 0px;
    }
  }
  // .block-forms__content

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 30px;
    border-radius: 15px;
    background-color: var(--color-gray-light);
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(203.37deg, rgba(31, 155, 222, 0) 15.09%, var(--color-blue-light) 94.47%);
    }
    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: start;
    }
    @media (max-width: 768px) {
      padding: 30px 10px;
      gap: 20px;
    }
  }

  // .block-forms__left

  &__left {
    position: relative;
    z-index: 10;
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 992px) {
      align-items: center;
      flex: 1 1 auto;
    }
    @media (max-width: 768px) {
      gap: 15px;
    }
    .title2 {
      text-transform: none;
      span {
        color: #00a6ff;
      }
    }
    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 130%;
      @media (max-width: 992px) {
        text-align: center;
      }
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  // .block-forms__socials

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    @media (max-width: 992px) {
      justify-content: center;
    }
    @media (max-width: 768px) {
      gap: 10px 15px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      height: auto;
      width: auto;
      min-height: 60px;
      border-radius: 30px;
      color: #fff;
      padding: 5px 30px;
      background: linear-gradient(100deg, var(--color-blue-dark) 0%, var(--color-blue-light2) 100%);
      position: relative;
      overflow: hidden;
      @media (max-width: 768px) {
        min-height: 45px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 0px 0px 0px 0px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-blue-dark);
        opacity: 0;
        transition: opacity 0.3s;
        border-radius: inherit;
      }
      &:hover {
        &::before {
          content: "";
          opacity: 1;
        }
      }
      span {
        position: relative;
        z-index: 10;
        margin: 0px 10px -2px 0px;
        font-weight: 800;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: 768px) {
          display: none;
        }
      }
      svg {
        position: relative;
        z-index: 10;
        flex: 0 0 20px;
        fill: currentColor;
      }
    }
  }

  // .block-forms__social-icon

  &__social-icon {
  }

  // .block-forms__right

  &__right {
    position: relative;
    z-index: 10;
    flex: 0 1 660px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 15px;
  }
  .btn2 {
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  // .form__inputs

  &__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // .form__input

  &__input {
    .input {
      font-size: 16px;
      font-weight: 400;
      height: 50px;
      width: 100%;
      border-radius: 15px;
      background-color: #fff;
      padding: 5px 20px;
      &::placeholder {
        opacity: 0.8;
      }
      &.textarea {
        padding: 20px;
        height: 120px;
        resize: none;
      }
    }
  }

  // .form__error

  &__error {
    color: red;
    font-size: 12px;
    margin: 3px 0px 0px 5px;
  }
}

.block-scope-application {
  // .block-scope-application__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    @media (max-width: 768px) {
      gap: 20px;
    }
    .title2 {
      width: 100%;
      margin: 0px 0px 0px 0px;
    }
  }

  // .block-scope-application__slider

  &__slider {
    min-width: 0;
    width: 100%;
    @media (max-width: 1460px) {
      margin: 0px -10px;
      padding: 0px 10px;
      width: calc(100% + 20px);
    }
  }

  // .block-scope-application__wrapper

  &__wrapper {
  }

  // .block-scope-application__slide

  &__slide {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    background-color: var(--color-gray-light);
    gap: 20px;
    border-radius: 15px;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--color-blue-dark);
      .block-scope-application__title {
        color: #fff;
      }
    }
    @media (max-width: 992px) {
      gap: 15px;
    }
    @media (max-width: 768px) {
      gap: 10px;
    }
    @media (max-width: 400px) {
      padding: 10px;
    }
  }

  // .block-scope-application__image

  &__image {
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    @media (max-width: 992px) {
      height: 250px;
    }
    @media (max-width: 600px) {
      height: 200px;
    }
    @media (max-width: 400px) {
      height: 170px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .block-scope-application__title

  &__title {
    transition: color 0.3s;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    padding: 0px 20px 0px 20px;
    @media (max-width: 1400px) {
      padding: 0px 0px 0px 0px;
    }
    @media (max-width: 992px) {
      font-size: 18px;
    }
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }

  // .block-scope-application__arrow-prev

  &__arrow-prev {
  }

  // .block-scope-application__arrow-next

  &__arrow-next {
  }
}
