:root {
  --container-width: 1460px;
  --container-padding: 20px;
  /* Темно-серый */
  --color-gray-dark: #2d3748;

  /* Светло-серый */
  --color-gray-light: #e2e8f0;

  /* Светло-синий */
  --color-blue-light: #90cdf4;

  --color-blue-light2: #00a6ff;

  /* Темно-синий */
  --color-blue-dark: #2c5282;

  --font-family: "Muller", sans-serif;
}
